@import"../base/variables";

#flex-footer {
    background-color: $bg-color;
    width: 100%;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-flow: wrap;
    justify-items: center;
    .subscribe-text {
        width: 100vw;
        margin: auto;
        text-align: center;
        color: #FCF9F4;
    }
    .form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        .form-input {
            border-radius: 20px;
            background-color: $bg-color;
            border-color: $accent-color;
            color: #FCF9F4;
        }
        .form-input-confirm {
            border-radius: 20px;
            background-color: $accent-color;
            border-color: $accent-color;
            color: #FCF9F4;
            & :hover{
                background-color: $accent-color-2;
                color: $accent-color;
                }
        }
    }
    .social-media {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        .icons {
            margin-left: 25px;
            color: #FCF9F4;
        }
    }

}

